{{ define "about.html" }}
{{ template "header.html" . }}
<style>
    /* Стили для основного контента */
    main {
        padding: 20px;
    }
    section {
        margin-bottom: 50px;
    }
    h1 {
        color: #6666ff;
        font-size: 30px;
    }
    p {
        color: #0000ff;
    }
</style>
<section id="home">
    <h1>Добро пожаловать!</h1>
    <p>Здесь вы можете найти информацию о нашем сайте и посмотреть картинки.</p>
    <img src="path_to_your_image" alt="Картинка">
</section>
<section id="about">
    <h1>О проекте</h1>
    <p>Наш сайт — это платформа для загрузки и публикации изображений. Вы можете загружать свои фотографии и публиковать их на других ресурсах. На сайте удобная навигация по контенту, позволяющая быстро находить нужные изображения.</p>
    <p>Мы предлагаем возможность публиковать картинки как приватно, так и публично. Для удобства пользователей предусмотрена система тегов, которая помогает организовать контент и облегчает поиск.</p>
    <p>Кроме того, у вас есть доступ к статистике по просмотрам ваших изображений, что позволяет отслеживать их популярность.</p>
</section>
<section id="contact">
    <h1>Контакты</h1>
    <p>Вы можете связаться с нами по электронной почте или телефону.</p>
    <img src="path_to_your_image" alt="Картинка">
</section>
<section id="help">
    <h1>Помощь</h1>
    <p>Если у вас возникли вопросы или проблемы, пожалуйста, свяжитесь с нами.</p>
    <img src="path_to_your_image" alt="Картинка">
</section>

{{ template "footer.html" . }}
{{ end }}