body {
    font-family: Arial, sans-serif;
    margin: 0;
    background-color: #f4f4f4;
}
.error {
    color: #D8000C;
    font-size: 20px;
    text-transform: uppercase;
    text-align: center;
}
.info {
    color: #4F8A10;
    font-size: 20px;
    text-transform: uppercase;
    text-align: center;
}