{{ define "footer.html" }}

    </main>
    <style>
        footer {
            background-color: #6666ff;
            color: white;
            padding: 20px;
            text-align: center;
        }
        footer p {
            color: white;
        }
        footer a {
            text-decoration: none;
            color: whitesmoke;
        }
    </style>
    <footer>
        <p>Автор сайта не несёт ответственность за сохранность размещённых данных.</p>
        <p>&copy; 2026 Ваш сайт. Все права защищены.</p>
        <p>Разработано с любовью.</p>
        <p>Контакты: <a href="mailto:nikitashkirya@gmail.com">nikitashkirya@gmail.com</a></p>
    </footer>
    <script src="/js/main.js"></script>
</body>
</html>
{{ end }}