{{ define "modules/navigate.html" }}
<link rel="stylesheet" href="/css/modules/navigate.css">
<nav>
    <a href="/">Главная</a>
    <a href="/about#about">О нас</a>
    <a href="/posts">Посты</a>
    {{ if eq .user.ID 0 }}
    <a class="login-button" href="/sso/auth">Вход</a>
    {{ else }}
    <a href="/i/upload">Загрузить</a>
    <a href="/i/posts">Мои посты</a>
    <a class="logout-button" href="/sso/logout">Выход</a>
    <a class="user-info" href="/i">Ваш email: {{ .user.Email }}</a>
    {{ end }}
</nav>
{{ end }}